.idea
app
mysql/database
mysql/ssl/*.pem
nginx/misc
nginx/ssl/*.pem
nginx/ssl/*.rsa
nginx/ssl/*.crt
php/ssl/*.pem
php-cli/.composer
supervisor/log
mysql-ssl/ssl/*.pem
mysql-ssl/database
mysql-ssl/database-test
mysql-proxy/data
certificates/nginx/*.pem
certificates/mysql/*.pem
.env
/parameters.env